In [1]:
import pandas as pd
import numpy as np

In [24]:
df_players.head()

,Rk,Player,Season,Age,Tm,Lg,WS,G,GS,MP,...,BLK,TOV,PF,PTS,FG%,2P%,3P%,eFG%,FT%,TS%
0,1,Kareem Abdul-Jabbar\abdulka01,1971-72,24.0,MIL,NBA,25.4,81,NaN,3583.0,...,NaN,NaN,235,2822,0.574,0.574,NaN,0.574,0.689,0.603
1,2,Wilt Chamberlain\chambwi01,1963-64,27.0,SFW,NBA,25.0,80,NaN,3689.0,...,NaN,NaN,182,2948,0.524,0.524,NaN,0.524,0.531,0.537
2,3,George Mikan\mikange01,1950-51,26.0,MNL,NBA,23.4,68,NaN,NaN,...,NaN,NaN,308,1932,0.428,0.428,NaN,0.428,0.803,0.509
3,4,Wilt Chamberlain\chambwi01,1961-62,25.0,PHW,NBA,23.1,80,NaN,3882.0,...,NaN,NaN,123,4029,0.506,0.506,NaN,0.506,0.613,0.536
4,5,Kareem Abdul-Jabbar\abdulka01,1970-71,23.0,MIL,NBA,22.3,82,NaN,3288.0,...,NaN,NaN,264,2596,0.577,0.577,NaN,0.577,0.690,0.606

In [23]:
df_players = pd.read_csv('NBA_player_seasonal.csv')
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22873 entries, 0 to 22872
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      22873 non-null  int64
 1   Player  22873 non-null  object
 2   Season  22873 non-null  object
 3   Age     22872 non-null  float64
 4   Tm      22873 non-null  object
 5   Lg      22873 non-null  object
 6   WS      22834 non-null  float64
 7   G       22873 non-null  int64
 8   GS      17103 non-null  float64
 9   MP      22081 non-null  float64
 10  FG      22873 non-null  int64
 11  FGA     22873 non-null  int64
 12  2P      22873 non-null  int64
 13  2PA     22873 non-null  int64
 14  3P      17670 non-null  float64
 15  3PA     17670 non-null  float64
 16  FT      22873 non-null  int64
 17  FTA     22873 non-null  int64
 18  ORB     19225 non-null  float64
 19  DRB     19225 non-null  float64
 20  TRB     22216 non-null  float64
 21  AST     22873 non-null  int64
 22  STL     19225 non-null  float64
 23  BLK     19225 non-null  float64
 24  TOV     18235 non-null  float64
 25  PF      22873 non-null  int64
 26  PTS     22873 non-null  int64
 27  FG%     22806 non-null  float64
 28  2P%     22770 non-null  float64
 29  3P%     14965 non-null  float64
 30  eFG%    22806 non-null  float64
 31  FT%     22243 non-null  float64
 32  TS%     22816 non-null  float64
dtypes: float64(18), int64(11), object(4)
memory usage: 5.8+ MB

In [22]:
df_all_nba_1 = pd.read_csv('All_NBA_1.csv')
df_all_nba_1.head(15)

,YEAR,PLAYER,POS,TEAM,FG%,PPG,RPG,APG,BLKPG
0,2020,LeBron James,F,Los Angeles Lakers,0.493,25.3,7.8,10.2,0.5
1,2020,James Harden,G,Houston Rockets,0.444,34.3,6.6,7.5,0.9
2,2020,Anthony Davis,F,Los Angeles Lakers,0.503,26.1,9.3,3.2,2.3
3,2020,Giannis Antetokounmpo,F,Milwaukee Bucks,0.553,29.5,13.6,5.6,1.0
4,2020,Luka Doncic,G,Dallas Mavericks,0.463,28.8,9.4,8.8,0.2
5,2019,Stephen Curry,G,Golden State Warriors,0.472,27.3,5.3,5.2,0.4
6,2019,James Harden,G,Houston Rockets,0.442,36.1,6.6,7.5,0.7
7,2019,Paul George,F,Oklahoma City Thunder,0.438,28.0,8.2,4.1,0.4
8,2019,Giannis Antetokounmpo,F,Milwaukee Bucks,0.578,27.7,12.5,5.9,1.5
9,2019,Nikola Jokic,C,Denver Nuggets,0.511,20.1,10.8,7.3,0.7
10,2018,LeBron James,F,Cleveland Cavaliers,0.542,27.5,8.6,9.1,0.9
11,2018,Kevin Durant,F,Golden State Warriors,0.516,26.4,6.8,5.4,1.8
12,2018,James Harden,G,Houston Rockets,0.449,30.4,5.4,8.8,0.7
13,2018,Anthony Davis,F,New Orleans Pelicans,0.534,28.1,11.1,2.3,2.6
14,2018,Damian Lillard,G,Portland Trail Blazers,0.439,26.9,4.5,6.6,0.4

In [18]:
df_players.describe()

,Rk,Age,WS,G,GS,MP,FG,FGA,2P,2PA,...,BLK,TOV,PF,PTS,FG%,2P%,3P%,eFG%,FT%,TS%
count,22873.00000,22872.000000,22834.000000,22873.000000,17103.000000,22081.000000,22873.000000,22873.000000,22873.000000,22873.000000,...,19225.000000,18235.000000,22873.000000,22873.000000,22806.000000,22770.000000,14965.000000,22806.000000,22243.000000,22816.000000
mean,11437.00000,26.515477,2.768551,54.900363,26.170263,1322.035868,213.617584,471.534823,192.245267,410.809994,...,26.963329,80.222210,125.068684,559.603769,0.432954,0.450938,0.256102,0.456122,0.721928,0.497840
std,6603.01069,3.907138,3.147094,24.950933,29.456971,935.376295,190.702911,402.383532,181.558522,375.046241,...,38.059499,68.655333,83.482906,501.313634,0.093210,0.098799,0.170595,0.097947,0.136405,0.093403
min,1.00000,18.000000,-2.800000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5719.00000,23.000000,0.300000,37.000000,1.000000,460.000000,55.000000,133.000000,46.000000,104.000000,...,4.000000,23.000000,52.000000,144.000000,0.395000,0.413000,0.143000,0.419000,0.661000,0.462000
50%,11437.00000,26.000000,1.800000,63.000000,11.000000,1259.000000,167.000000,380.000000,141.000000,311.000000,...,14.000000,64.000000,123.000000,437.000000,0.440000,0.461000,0.302000,0.469000,0.745000,0.510000
75%,17155.00000,29.000000,4.300000,77.000000,52.000000,2081.000000,323.000000,717.000000,290.000000,622.000000,...,33.000000,121.000000,189.000000,844.000000,0.481000,0.500000,0.365000,0.507000,0.809000,0.549000
max,22873.00000,46.000000,25.400000,88.000000,83.000000,3882.000000,1597.000000,3159.000000,1597.000000,3159.000000,...,456.000000,464.000000,386.000000,4029.000000,1.000000,1.000000,1.000000,1.500000,1.000000,1.500000

In [13]:
df_draft = pd.read_csv('NBA_Draft.csv')
df_draft.head()

,Rk,Year,Lg,Rd,Pk,Tm,Player,Age,Pos,Born,...,PTS,TRB,AST,STL,BLK,FG%,2P%,3P%,FT%,WS/48
0,1,1969,NBA,1.0,1.0,MIL,Kareem Abdul-Jabbar\abdulka01,21.362,C,us,...,24.6,11.2,3.6,0.7,2.0,0.559,0.560,0.056,0.721,0.228
1,2,1959,NBA,NaN,NaN,PHW,Wilt Chamberlain\chambwi01,22.227,C,us,...,30.1,22.9,4.4,NaN,NaN,0.540,0.540,NaN,0.511,0.248
2,3,2003,NBA,1.0,1.0,CLE,LeBron James\jamesle01,18.182,F-G,us,...,27.0,7.4,7.4,1.6,0.8,0.504,0.550,0.345,0.734,0.233
3,4,1985,NBA,1.0,13.0,UTA,Karl Malone\malonka01,21.335,F,us,...,25.0,10.1,3.6,1.4,0.8,0.516,0.519,0.274,0.742,0.205
4,5,1984,NBA,1.0,3.0,CHI,Michael Jordan\jordami01,21.128,G-F,us,...,30.1,6.2,5.3,2.3,0.8,0.497,0.510,0.327,0.835,0.250

In [19]:
df_draft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3700 entries, 0 to 3699
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       3700 non-null   int64
 1   Year     3700 non-null   int64
 2   Lg       3700 non-null   object
 3   Rd       3415 non-null   float64
 4   Pk       3268 non-null   float64
 5   Tm       3700 non-null   object
 6   Player   3700 non-null   object
 7   Age      3444 non-null   float64
 8   Pos      3444 non-null   object
 9   Born     3289 non-null   object
 10  College  3451 non-null   object
 11  From     3444 non-null   float64
 12  To       3444 non-null   float64
 13  WS       3444 non-null   float64
 14  G        3444 non-null   float64
 15  MP       3353 non-null   float64
 16  PTS      3444 non-null   float64
 17  TRB      3378 non-null   float64
 18  AST      3444 non-null   float64
 19  STL      2787 non-null   float64
 20  BLK      2787 non-null   float64
 21  FG%      3436 non-null   float64
 22  2P%      3434 non-null   float64
 23  3P%      2236 non-null   float64
 24  FT%      3357 non-null   float64
 25  WS/48    3352 non-null   float64
dtypes: float64(18), int64(2), object(6)
memory usage: 751.7+ KB

In [20]:
df_draft.describe()

,Rk,Year,Rd,Pk,Age,From,To,WS,G,MP,PTS,TRB,AST,STL,BLK,FG%,2P%,3P%,FT%,WS/48
count,3700.000000,3700.000000,3415.000000,3268.000000,3444.000000,3444.000000,3444.000000,3444.000000,3444.000000,3353.000000,3444.000000,3378.000000,3444.000000,2787.000000,2787.000000,3436.000000,3434.000000,2236.000000,3357.000000,3352.000000
mean,1850.500000,1984.158919,2.296340,32.713280,21.676154,1988.177700,1993.195703,17.243873,330.879210,17.463973,7.060482,3.237863,1.572851,0.576355,0.350771,0.423597,0.439967,0.245300,0.706134,0.055212
std,1068.242326,21.704961,2.083642,30.138088,1.335034,20.057956,20.933279,28.887550,328.751986,8.927900,4.982117,2.340916,1.451280,0.396110,0.409211,0.091054,0.096725,0.146856,0.126997,0.130899
min,1.000000,1947.000000,1.000000,1.000000,17.249000,1947.000000,1947.000000,-7.900000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.062000
25%,925.750000,1968.000000,1.000000,12.000000,21.158000,1974.000000,1978.000000,0.200000,52.000000,10.000000,3.200000,1.500000,0.600000,0.300000,0.100000,0.389000,0.400000,0.148750,0.649000,0.023000
50%,1850.500000,1985.000000,2.000000,26.000000,22.022000,1988.000000,1995.000000,3.800000,203.000000,16.800000,5.800000,2.700000,1.100000,0.500000,0.200000,0.433000,0.453000,0.286500,0.726000,0.065000
75%,2775.250000,2003.000000,2.000000,44.000000,22.242250,2005.000000,2012.000000,23.000000,565.000000,24.300000,9.600000,4.300000,2.100000,0.800000,0.400000,0.470000,0.489750,0.346000,0.785000,0.100000
max,3700.000000,2020.000000,20.000000,221.000000,32.204000,2021.000000,2021.000000,273.400000,1611.000000,45.800000,30.100000,22.900000,11.200000,2.700000,3.500000,1.000000,1.000000,1.000000,1.000000,4.201000