In [16]:
import re
import os
import time
import random
import requests
import numpy as np
import pandas as pd
from os import system
from math import floor
from copy import deepcopy
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [60]:
driver = webdriver.Chrome()

In [61]:
url = 'https://stathead.com/basketball/psl_finder.cgi?request=1&lg_id=NBA&order_by=ws&season_start=1&is_playoffs=N&as_val=0&per_poss_base=100&order_by_asc=0&as_comp=gt&birth_country_is=Y&height_max=99&match=single&per_minute_base=36&height_min=0&season_end=-1&age_min=0&age_max=99&college_id=0&type=advanced&offset=0'

In [62]:
driver.get(url)

In [27]:
driver.find_element_by_tag_name('table')

In [28]:
table = driver.find_element_by_tag_name('table')

In [29]:
table.find_element_by_tag_name('thead').text

'Totals Advanced\nRk Player Season Age Tm Lg WS G GS MP PER 3PAr FTr ORB% DRB% TRB% AST% STL% BLK% TOV% USG% ORtg DRtg OWS DWS WS/48 OBPM DBPM BPM VORP'

In [34]:
header = table.find_element_by_tag_name('thead').text

In [35]:
header = header.split('\n')[1]
header

'Rk Player Season Age Tm Lg WS G GS MP PER 3PAr FTr ORB% DRB% TRB% AST% STL% BLK% TOV% USG% ORtg DRtg OWS DWS WS/48 OBPM DBPM BPM VORP'

In [37]:
header = header.split()

In [38]:
rows = table.find_elements_by_tag_name('tr')

In [63]:
master_list = []
for i in range(0,15000,100):
    time.sleep(random.choice([x/10 for x in range(5,12)]))
    url = f'https://stathead.com/basketball/psl_finder.cgi?request=1&lg_id=NBA&order_by=ws&season_start=1&is_playoffs=N&as_val=0&per_poss_base=100&order_by_asc=0&as_comp=gt&birth_country_is=Y&height_max=99&match=single&per_minute_base=36&height_min=0&season_end=-1&age_min=0&age_max=99&college_id=0&type=advanced&offset={i}'
    driver.get(url)
    table = driver.find_element_by_tag_name('table')
    rows = table.find_elements_by_tag_name('tr')
    for row in rows[2:]:
        master_list.append([x.text for x in row.find_elements_by_tag_name('td')])
    if i % 1000 == 0:
        pd.DataFrame(master_list).to_csv('NBA_Advanced.csv')
        print(i)
driver.quit()

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000

In [64]:
advanced = pd.read_csv('NBA_Advanced.csv')

In [66]:
advanced.tail()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,19,20,21,22,23,24,25,26,27,28
14659,14659,Jack Nichols,1957-58,31.0,BOS,NBA,1.0,69.0,NaN,1224.0,...,NaN,NaN,NaN,-0.9,1.9,0.040,NaN,NaN,NaN,NaN
14660,14660,Kurt Nimphius,1987-88,29.0,SAS,NBA,1.0,72.0,7.0,919.0,...,14.7,107.0,113.0,0.6,0.4,0.052,-2.5,-0.4,-2.8,-0.2
14661,14661,Kyle O'Quinn,2018-19,28.0,IND,NBA,1.0,45.0,3.0,371.0,...,20.8,106.0,102.0,0.2,0.8,0.125,-2.5,3.0,0.4,0.2
14662,14662,Emeka Okafor,2005-06,23.0,CHA,NBA,1.0,26.0,25.0,874.0,...,21.5,96.0,104.0,-0.2,1.1,0.054,-1.7,-0.4,-2.1,0.0
14663,14663,Emeka Okafor,2017-18,35.0,NOP,NBA,1.0,26.0,19.0,353.0,...,14.4,116.0,105.0,0.5,0.5,0.140,-1.1,-0.2,-1.2,0.1