In [12]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [14]:
url = 'https://stathead.com/basketball/psl_finder.cgi?request=1&lg_id=NBA&order_by=ws&season_start=1&is_playoffs=N&as_val=0&per_poss_base=100&order_by_asc=0&as_comp=gt&birth_country_is=Y&height_max=99&match=single&per_minute_base=36&height_min=0&season_end=-1&age_min=0&age_max=99&college_id=0&type=totals&offset=0'
req = requests.get(url)

In [9]:
req.status_code

200

In [10]:
soup = BeautifulSoup(req.content)

NameError: name 'BeautifulSoup' is not defined

In [ ]:
top = list(soup.children)

In [ ]:
html = requests.get(url)
bs = BeautifulSoup(html.content, 'lxml')
table = bs.table

# table = bs.find(lambda tag: tag.name=='table' ) 
# rows = table.findAll(lambda tag: tag.name=='tr')
table

In [ ]:
table_rows = table.find_all('tr')

for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    print(row)

In [15]:
html = requests.get(url)
bs = BeautifulSoup(html.content, 'lxml')
table = bs.table

#If you know there is more than one table, you can edit the code to include the proper index:
# table = bs.find_all('table')[0] 

df = pd.read_html(str(table))
df = df[0].dropna(axis=0, thresh=4)
df

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk             Player             Season
10                 11   Wilt Chamberlain            1962-63
11                 12       George Mikan            1948-49
12                 13    Oscar Robertson            1963-64
13                 14   Wilt Chamberlain            1967-68
14                 15     Michael Jordan            1995-96
15                 16       LeBron James            2008-09
16                 17     Michael Jordan            1990-91
17                 18     David Robinson            1993-94
18                 19     Michael Jordan            1988-89
19                 20       LeBron James            2012-13

   Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                  Age                 Tm                 Lg
10               26.0                SFW                NBA
11               24.0                MNL                BAA
12               25.0                CIN                NBA
13               31.0                PHI                NBA
14               32.0                CHI                NBA
15               24.0                CLE                NBA
16               27.0                CHI                NBA
17               28.0                SAS                NBA
18               25.0                CHI                NBA
19               28.0                MIA                NBA

   Unnamed: 6_level_0 Totals                ...                               \
                   WS      G    GS      MP  ...    BLK    TOV     PF     PTS
10               20.9   80.0   NaN  3806.0  ...    NaN    NaN  136.0  3586.0
11               20.9   60.0   NaN     NaN  ...    NaN    NaN  260.0  1698.0
12               20.6   79.0   NaN  3559.0  ...    NaN    NaN  280.0  2480.0
13               20.4   82.0   NaN  3836.0  ...    NaN    NaN  160.0  1992.0
14               20.4   82.0  82.0  3090.0  ...   42.0  197.0  195.0  2491.0
15               20.3   81.0  81.0  3054.0  ...   93.0  241.0  139.0  2304.0
16               20.3   82.0  82.0  3034.0  ...   83.0  202.0  229.0  2580.0
17               20.0   80.0  80.0  3241.0  ...  265.0  253.0  228.0  2383.0
18               19.8   81.0  81.0  3255.0  ...   65.0  290.0  247.0  2633.0
19               19.3   76.0  76.0  2877.0  ...   67.0  226.0  110.0  2036.0

   Shooting
        FG%    2P%    3P%   eFG%    FT%    TS%
10    0.528  0.528    NaN  0.528  0.593  0.550
11    0.416  0.416    NaN  0.416  0.772  0.498
12    0.483  0.483    NaN  0.483  0.853  0.576
13    0.595  0.595    NaN  0.595  0.380  0.557
14    0.495  0.506  0.427  0.525  0.834  0.582
15    0.489  0.535  0.344  0.530  0.780  0.591
16    0.539  0.551  0.312  0.547  0.851  0.605
17    0.507  0.510  0.345  0.510  0.749  0.577
18    0.538  0.553  0.276  0.546  0.850  0.614
19    0.565  0.602  0.406  0.603  0.753  0.640

[10 rows x 33 columns]

In [16]:
import re
import os
import time
import random
import requests
import numpy as np
import pandas as pd
from os import system
from math import floor
from copy import deepcopy
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [60]:
driver = webdriver.Chrome()

In [61]:
url = 'https://stathead.com/basketball/psl_finder.cgi?request=1&lg_id=NBA&order_by=ws&season_start=1&is_playoffs=N&as_val=0&per_poss_base=100&order_by_asc=0&as_comp=gt&birth_country_is=Y&height_max=99&match=single&per_minute_base=36&height_min=0&season_end=-1&age_min=0&age_max=99&college_id=0&type=advanced&offset=0'

In [62]:
driver.get(url)

In [27]:
driver.find_element_by_tag_name('table')

In [28]:
table = driver.find_element_by_tag_name('table')

In [29]:
table.find_element_by_tag_name('thead').text

'Totals Advanced\nRk Player Season Age Tm Lg WS G GS MP PER 3PAr FTr ORB% DRB% TRB% AST% STL% BLK% TOV% USG% ORtg DRtg OWS DWS WS/48 OBPM DBPM BPM VORP'

In [34]:
header = table.find_element_by_tag_name('thead').text

In [35]:
header = header.split('\n')[1]
header

'Rk Player Season Age Tm Lg WS G GS MP PER 3PAr FTr ORB% DRB% TRB% AST% STL% BLK% TOV% USG% ORtg DRtg OWS DWS WS/48 OBPM DBPM BPM VORP'

In [37]:
header = header.split()

In [38]:
rows = table.find_elements_by_tag_name('tr')

In [63]:
master_list = []
for i in range(0,15000,100):
    time.sleep(random.choice([x/10 for x in range(5,12)]))
    url = f'https://stathead.com/basketball/psl_finder.cgi?request=1&lg_id=NBA&order_by=ws&season_start=1&is_playoffs=N&as_val=0&per_poss_base=100&order_by_asc=0&as_comp=gt&birth_country_is=Y&height_max=99&match=single&per_minute_base=36&height_min=0&season_end=-1&age_min=0&age_max=99&college_id=0&type=advanced&offset={i}'
    driver.get(url)
    table = driver.find_element_by_tag_name('table')
    rows = table.find_elements_by_tag_name('tr')
    for row in rows[2:]:
        master_list.append([x.text for x in row.find_elements_by_tag_name('td')])
    if i % 1000 == 0:
        pd.DataFrame(master_list).to_csv('NBA_Advanced.csv')
        print(i)
driver.quit()

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000

In [59]:
len(master_list)

78

In [47]:
row = rows[-1]

In [48]:
[x.text for x in row.find_elements_by_tag_name('td')]

['Karl Malone',
 '1992-93',
 '29',
 'UTA',
 'NBA',
 '15.4',
 '82',
 '82',
 '3099',
 '26.2',
 '.014',
 '.579',
 '8.6',
 '24.6',
 '16.9',
 '16.9',
 '2.0',
 '1.8',
 '11.7',
 '28.4',
 '120',
 '103',
 '10.4',
 '5.0',
 '.238',
 '6.0',
 '1.4',
 '7.3',
 '7.3']

In [64]:
advanced = pd.read_csv('NBA_Advanced.csv')

In [66]:
advanced.tail()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,19,20,21,22,23,24,25,26,27,28
14659,14659,Jack Nichols,1957-58,31.0,BOS,NBA,1.0,69.0,NaN,1224.0,...,NaN,NaN,NaN,-0.9,1.9,0.040,NaN,NaN,NaN,NaN
14660,14660,Kurt Nimphius,1987-88,29.0,SAS,NBA,1.0,72.0,7.0,919.0,...,14.7,107.0,113.0,0.6,0.4,0.052,-2.5,-0.4,-2.8,-0.2
14661,14661,Kyle O'Quinn,2018-19,28.0,IND,NBA,1.0,45.0,3.0,371.0,...,20.8,106.0,102.0,0.2,0.8,0.125,-2.5,3.0,0.4,0.2
14662,14662,Emeka Okafor,2005-06,23.0,CHA,NBA,1.0,26.0,25.0,874.0,...,21.5,96.0,104.0,-0.2,1.1,0.054,-1.7,-0.4,-2.1,0.0
14663,14663,Emeka Okafor,2017-18,35.0,NOP,NBA,1.0,26.0,19.0,353.0,...,14.4,116.0,105.0,0.5,0.5,0.140,-1.1,-0.2,-1.2,0.1